.license-container {
  width: 100%;
  max-width: 1240px;
  margin: 40px auto;
}
.title-centered {
  text-align: center;
  margin: 40px 0;
  padding: 1rem;
}

.title-centered p {
  color: #5e5e5e;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.image-text-container {
  font-size: 0;
  padding: 20px;
  text-align: left;
}

.full-container {
  display: grid;
  grid-template-columns: auto auto;
}

.image-text-container__content {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 160px);
  font-size: 18px;
  padding-left: 20px;
  max-height: 160px;
}

.image-text-container__content h4 {
  margin-bottom: 5px;
}

.image-text-container__content p {
  color: #5e5e5e;
}

.image-text-container__image {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
}

.license-red-cross {
  width: 60px;
  padding: 8px;
}

.list-custom {
  list-style: none;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-custom li > * {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: middle;
}
.list-custom li span {
  width: calc(100% - 60px);
}

@media screen and (max-width: 960px) {
  .full-container {
    display: inline-block;
    float: none;
  }
  .image-text-container__content {
    max-height: none;
  }
}
